tr {
  opacity: 0.6;
  -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
  transition: opacity 1s;
  -webkit-transition: font-weight 0.1s; /* For Safari 3.1 to 6.0 */
  transition: font-weight 0.1s;
}

tr:hover {  
  opacity: 1;
  font-weight: 300;
  cursor: pointer;
}

table {
  border-radius: 13px;
  vertical-align: middle;
}
a {
  font-size:2vw;
}

.deleteFavorite {
  text-align: center;
  vertical-align: middle;
}
.deleteFavorite:hover{
  background-color: #ffd2d2;
}

.endSession{
  text-align: right;
  width: 100%;
}



/* Ecrã tablet / desktop */
@media screen and (min-width: 601px) {
  body {
    font-size: 14px;
  }
  a {
    font-size: 16px;
  }
}

/* Ecrã mobile */
@media screen and (max-width: 1024px) {
  body {
    font-size: 10px;
  }
  a {
    font-size: 12px;
  }
  tr {
    opacity: 1;
  }
}
