tr:hover{
  cursor: pointer;
}

table {
  border-radius: 13px;
  vertical-align: middle;
}

.deleteFavorite {
  text-align: center;
  vertical-align: middle;
}
.deleteFavorite:hover{
  background-color: #ffd2d2;
}

a {
  font-size:2vw;
}

/* Ecrã tablet / desktop */
@media screen and (min-width: 601px) {
  body {
    font-size: 14px;
  }
  a {
    font-size: 16px;
  }
}

/* Ecrã mobile */
@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
  a {
    font-size: 12px;
  }
}
